.starred-pages-wrapper .title{
  display: none;
}
.rm-hr{
	background-color:#8A9BA8; 
}
.slider-cell{
  display: none;
}
[data-tag="inProgress"],
[data-tag="inproGress"],
[data-tag="inprogresS"]
{   
  	border: 0px solid #000000 !important;
  	box-shadow: 0 0 0 0 #000000;
    background-size: 100%;    
    color: gray;    
    font-weight: normal;     
    padding: 0px 5px 0px 5px;     
    position:relative;     
    border-radius: 8px; 
}
[data-tag="inProgress"]{
    background-image: linear-gradient(to right, #FF9800DD, rgba(48,30,30,0.07), rgba(255,255,255,0.03));     
}
[data-tag="inproGress"] {
    background-image: linear-gradient(to right, #FF9800DD, #FF9800DD, rgba(121,121,121,0.03), rgba(255,255,255,0.03));
}
[data-tag="inprogresS"]{
	background-image: linear-gradient(to right, #FF9800DD, #FF9800DD, #FF9800DD, #FF9800DD, rgba(48,30,30,0.04));
}

.rm-highlight,
.rm-highlight:hover{
  background-color: transparent;
  color: rgb(142,231,142) !important;
  border-bottom: 1px solid green;
}
.roamjs-twitter-count>span{
  color: #CDDC39 !important;
}
.rm-bold{
  border-bottom: 3px solid #148630;
  padding-bottom: 2px;
  color: rgb(183,87,139);
}
.green-bold>.rm-block-main .rm-bold{
  color: #2196F3;
}

.rm-search-title{
color: rgb(136,247,206) !important}

div.rm-block-main{
  width: 99%;
}
.roam-block-container .rm-block-main .rm-block-separator{
  min-width: 10px;
}


.roam-article .rm-title-display{
  margin-bottom: 16px !important;
}
.roam-article .rm-title-editing-display{
  margin-bottom: 16px !important;
}
/*主页面背景*/
.roam-body-main{
  background: transparent !important;
}
