.rm-page-ref-link-color{
	color: #00BCD4 !important;
}
.rm-alias-page{
  color:#00BCD4 !important;
}
.rm-block-ref{
  background-color:transparent;
}

 
.rm-ref-page-view {
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #07FFB9 inset;
  margin-bottom: 0px;
  margin-right: 0px !important;
  padding-right: 5px;
}

.rm-ref-page-view:hover{
  background-color: #121F2D;
}

 
.rm-bullet .rm-bullet__inner{
  background-color: #BFA1A1 !important;
  padding: 3px;
}



.rm-bullet  .rm-bullet--closed>span>span{
  background-color:none !important;
}
.rm-bullet--closed .rm-bullet__inner{
  border: 1px solid #6B6868 !important;
}

 
.rm-highlight{
  border-radius: 2px;
  background-color: #DCE181;
  margin-left: 1px;
}

 
.rm-bold{
  color: #9FD462;
}

 
.roam_navigator_breadcrumbs > span{
  float: left !important;
  padding-left: 4px;
}

 
.rm-attr-ref{
  color: rgb(236, 236, 166);
  font-weight: bold;
}

 
.rm-inline-references {
    background-color: transparent;
    border: transparent;
    box-shadow: 0px 0px 2px 2px rgba(40,123,149,0.2) inset;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
	padding-right: 10px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rm-inline-references:before{
  display: none;
}

 
body, div, textarea:focus{
  border-radius: 1px;
}

 
audio{
	border-radius: 4px !important;
    height: 20px;
    width: 200px;
    background-color: #1c2e42;
}

 
.rm-paren__content{
  background-color: #1b1a23;
}

.rm-paren{
  background-color: #1b1a23;
  border: 0px solid #DFEEE0;
}

.rm-paren .rm-block-ref{
  border: none;
  border-bottom: 1px dotted #4CAF50 !important;
  padding-bottom: 0px !important;
  border-radius: 0px !important;
}

 
.rm-embed-inner-block-hide:before{
  content:none !important;
}

 
blockquote.rm-bq{
  background: none !important;
  color: #92ffff;
  font-style: italic;
  border-radius: 3px;
  margin: 0px;
  margin-left: 4px;
  width: 98%;
  border-left: 5px solid #6586A2;
  border-right: 5px solid #6586A2;
  border-top: 1px solid #6586A2;
  border-bottom: 1px solid #6586A2;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

blockquote.rm-bq:before{
  content: "" !important;
}
blockquote.rm-bq:after{
  content: "" !important;
}

 
.rm-zoom-item-content>.parent-path-wrapper>div>span>div{
  display: none !important;
}

 
a.rm-alias.rm-alias-block{
  /*border-bottom: 2px dotted #67C69A;*/
}

a.rm-alias.rm-alias-external{
  color: #03A9F4 !important;
  /*border-bottom: 2px dotted #9E9E9E;*/
}

a.rm-alias.rm-alias-external:after{
   content: '🔗';
}

 
.timestamp-control{
  background-color: rgba(108,109,36,0.1); 
  color: rgb(251,106,13);
  margin-right: 5px;
  margin-top: -5px;
  margin-bottom: 3px;
  border-radius: '50%';
  border-style: inset;  
  border-color: #FF3200;
  font-size: 0.9em;
}
.timestamp-control:hover {
  background-color: rgba(108,109,36,0.25); 
  border-style: outset;  
  color: #FFFFFF;
}

 
.kanban-title{
	font-size: 20px !important;
}
.kanban-board{
  max-width: 84%;
}

.kanban-board{
  max-width: 84% !important;
}

.sidebar-content .kanban-board{
  max-width: 100% !important;
}
.kanban-column{
  background: transparent;
  border: 1px solid #CDDC39;
}
.kanban-card{
  background: transparent;
  border: 1px solid #2196F3;
}

 
.rm-query-title {
    background: #00000000 !important;
    color: var(--block-reference-text) !important;
    font-weight: 500;
    border-bottom: 1px solid var(--references) !important;
    border-radius: 2px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.rm-query {
    box-shadow: 0 0 0 0 #000000;
    border-radius: 2px;
    border: transparent;
    padding: 0;
}

[data-tag="minimal"], 
[data-tag="minimal"] + .rm-query .rm-title-arrow-wrapper,
[data-tag="minimal"] + .rm-query .zoom-mentions-view {
  display:none!important; /* hide page reference (title) and mention context (breadcrumbs) */
}
[data-tag="min-title"], [data-tag="min-title"] + .rm-query .rm-title-arrow-wrapper {
display:none!important; /* hide page reference (title) */
}
[data-tag="min-con"], [data-tag="min-con"] + .rm-query .zoom-mentions-view {
  display:none !important;  /* hide mention context (breadcrumbs) */
}
[data-tag="min-q"], 
[data-tag="min-q"] + .rm-query .rm-query-title {
  display:none !important;  /* hide the query string */
}

[data-tag="min-qc"], 
[data-tag="min-qc"] + .rm-query .rm-query-title,
[data-tag="min-qc"] + .rm-query .zoom-mentions-view
{
  display:none !important;  /* hide the query string */
}

[data-tag="min-qt"], 
[data-tag="min-qt"] + .rm-query .rm-query-title,
[data-tag="min-qt"] + .rm-query .rm-title-arrow-wrapper
{
  display:none !important;  /* hide the query string */
}

[data-tag="min-all"], 
[data-tag="min-all"] + .rm-query .zoom-mentions-view,
[data-tag="min-all"] + .rm-query .rm-title-arrow-wrapper,
[data-tag="min-all"] + .rm-query .rm-query-title {
  display:none !important;  /* hide everything */
}
[data-tag="minimal"] + .rm-query .rm-query-title::after,
[data-tag="min-title"] + .rm-query .rm-query-title::after,
[data-tag="min-con"] + .rm-query .rm-query-title::after{
  content: " #minimal" /* add a tag to the query string to indicate this query has been minimized */
}

[data-tag="minimal"] + .rm-query,
[data-tag="min-title"] + .rm-query,
[data-tag="min-all"] + .rm-query,
[data-tag="min-q"] + .rm-query,
[data-tag="min-con"] + .rm-query,
[data-tag="min-qc"] + .rm-query,
[data-tag="min-qt"] + .rm-query
{
  margin-top: -24px !important;
}
.rm-query .rm-reference-item{
  margin-top: 8px !important;
  margin-right: 4px !important;
}

/* ----------------------------------------- */

 
.roam-body-main .block-highlight-blue {
  background: linear-gradient(to right, #1E2E4A, #243b55) !important; 
}
#right-sidebar .block-highlight-blue {
  background: linear-gradient(to right, #461615, #143517) !important; 
}

 
.roam-body-main{
  /*background: linear-gradient(to right, #1D2B44, #25405E) !important; 
  /*
  background-image: url("https://image-icons.oss-cn-beijing.aliyuncs.com/img/b2.png") !important;
  background-size:cover !important;
  background-repeat:no-repeat !important;
  background-position: center !important;*/
  border: 1px solid #EEDADA !important;
}
#roam-right-sidebar-content,
.sidebar-content{
  /*box-shadow: -2px 1px 4px 1px #5B1D1C !important;*/
  border: none !important;
  /*background: linear-gradient(to right, #5B1D1C, #235728) !important;   
*/
/*  background: linear-gradient(to right, #1B2840, #223953) !important; 
}*/}

#right-sidebar{
  background: none !important;
}

 
.roam-sidebar-container,
.rm-topbar,
.roam-app,
.roam-body-main.flex-h-box{
  background: linear-gradient(to right, #19253C, #273E57) !important; 
}


 
.roam-body-main .rm-block-input{
  border-top: 1px solid #6089D2;
  border-bottom: 1px solid #6089D2;
  border-radius: 0px;
  background: none;
}
#right-sidebar .rm-block-input{
  border-top: 1px solid #BC6565;
  border-bottom: 1px solid #DB5F5F;
  border-radius: 0px;
  background: none;
}
/*.rm-block-input{
  min-width: 38px !important;
  padding-top: 7px;
}*/

 
.rm-page-ref--tag{
  color: #F9F7F5 !important;
  box-shadow: 0px 0px 2px 2px #2C6B66 inset;
  padding: 2px 2px 2px 5px;
  line-height: 1em;
  border-radius: 3px;
  position:relative;
}
.rm-page-ref--tag:before{
  content:'';
}

 
span.rm-page-ref[data-tag="sub"]:before {
    content: "🔽 "
}

span.rm-page-ref[data-tag="sub"] {
    background: #31210C63 !important;
    color:  #DB62F9 !important;
    padding: 2px 5px;
    line-height: 2em;
    font-weight: 500;
}

 
span.rm-page-ref[data-tag="unfinished"] {
    background: #673AB7;
  	color: #CDDC39 !important;

    box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="unfinished"]:before{
  content: '⏳';
}

 
span.rm-page-ref[data-tag="Daily Log"] {
    background: #30619D;
  	color: #FFFFFF !important;
    box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="Daily Log"]:before{
  content: '🏡';
}

 
span.rm-page-ref[data-tag="ToDo"] {
    background: #2D83C3;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;

}
span.rm-page-ref[data-tag="ToDo"]:before{
  content: '📝';
}

 
span.rm-page-ref[data-tag="🎯Python"] {
    background: #87BD73;
  	color: #FFFFFF !important;
        box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="🎯Python"]:before{
  content: '🐍';
}

 
span.rm-page-ref[data-tag="待查看文献"] {
    background: #673AB7;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;

}
span.rm-page-ref[data-tag="待查看文献"]:before{
  content: '📜';
}

 
span.rm-page-ref[data-tag="Continue"] {
    background: #009688;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;

}
span.rm-page-ref[data-tag="Continue"]:before{
  content: '🔥';
}

 
span.rm-page-ref[data-tag="Random SRS Cards"] {
    background: #795548;
  	color: #FFFFFF !important;
        box-shadow: 0px 0px 0px 0px #C47070 inset;

}
span.rm-page-ref[data-tag="Random SRS Cards"]:before{
  content: '💬';
}

 
span.rm-page-ref[data-tag="SRS"] {
    background: #3F51B5;
  	color: #FFFFFF !important;
        box-shadow: 0px 0px 0px 0px #C47070 inset;

}
span.rm-page-ref[data-tag="SRS"]:before{
  content: '🧠';
}

 
span.rm-page-ref[data-tag="SRS comments"] {
    background: #3F51B5;
  	color: #FFFFFF !important;
        box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="SRS comments"]:before{
  content: '🧠';
}

 
span.rm-page-ref[data-tag="文献阅读"] {
    background: #009688;
  	color: #FFFFFF !important;
       box-shadow: 0px 0px 0px 0px #C47070 inset;

}
span.rm-page-ref[data-tag="文献阅读"]:before{
  content: '📖';
}

 
span.rm-page-ref[data-tag="Random Notes"] {
    background: #3F51B5;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="Random Notes"]:before{
  content: '📨';
}

 
span.rm-page-ref[data-tag="Projects"] {
    background: #009688;
  	color: #FFFFFF !important;

      box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="Projects"]:before{
  content: '🌳';
}

 
span.rm-page-ref[data-tag="编程"] {
    background: #3F51B5;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="编程"]:before{
  content: '👩‍💻';
}

 
span.rm-page-ref[data-tag="文献摘录"] {
    background: #3F51B5;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="文献摘录"]:before{
  content: "👨‍🔬";
}

 
span.rm-page-ref[data-tag="文章摘录"] {
    background: #009688;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="文章摘录"]:before{
  content: '📝';
}

 
span.rm-page-ref[data-tag="Research Ideas"] {
    background: #5D8A09;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="Research Ideas"]:before{
  content: '💡';
}

 
span.rm-page-ref[data-tag="Connections "] {
    background: #5D8A09;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="Connections "]:before{
  content: '💡';
}

 
span.rm-page-ref[data-tag="Summary "] {
    background: #673AB7;
  	color: #FFFFFF !important;
      box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="Summary "]:before{
  content: '💡';
}

 
span.rm-page-ref[data-tag="Seedlings "] {
    background: #673AB7;
  	color: #FFFFFF !important;
    box-shadow: 0px 0px 0px 0px #C47070 inset;
}
span.rm-page-ref[data-tag="Seedlings "]:before{
  content: '🌱';
}

 
span.rm-page-ref[data-tag="Memo"] {
    background: #607D8B;
  	color: #FFFFFF !important;
    padding: 2px 2px 2px 5px;
    line-height: 1em;
    border-radius: 3px;
    position:relative;
}
span.rm-page-ref[data-tag="Memo"]:before{
  content: '🔔';
}

 
span.rm-page-ref[data-tag="r"] {
    display: none;
}

span.rm-page-ref[data-tag="h1"] {
    display: none;
}

span.rm-page-ref[data-tag="h2"] {
    display: none;
}

span.rm-page-ref[data-tag="h3"] {
    display: none;
}

 
span.rm-page-ref[data-tag="t"] {
    display: none;
}

 
[data-tags~="h3"] {
  background-color: #08756B;
}

[data-tags~="h2"] {
  background-color: #2F6931;
}

[data-tags~="h1"] {
  background-color: #88221A;
}

[data-tags~="t"] {
 border-top: 1px solid #03A9F4;
 border-bottom: 1px solid #03A9F4;
}

[data-tags~="q"] {
  /*box-shadow: 0px 0px 5px 5px rgb(49,111,117) inset;*/
  background-color: #356A66D1;
  border-radius: 1px;
}



/*
[data-tags-up~="h2"] {
  background-color: #6C1760;
}


[data-tags-up~="h3"] > div:nth-child(2) {
background-color: #607D8B;
}*/



 
.rm-block-ref, .roam-block .rm-block-ref, span[style*="color: red"] {
    color: var(--body-text) !important;
    border-bottom: 1px solid #7B6F6F !important;
    border-right-color: var(--references) !important;
    border-right-width: 0px !important;
    border-right-style: solid;
    padding-right: 2px !important;
    border-left-color: var(--references) !important;
    border-left-width: 0px !important;
    border-left-style: solid;
    padding-left: 2px !important;
    border-radius: 0px !important;
    padding-top: 2px !important;
    padding-bottom: 1px !important;
}

 
.roam-body-main .rm-embed-inner-block-hide {
    margin: 2px 2px 2px 4px !important;
    background: linear-gradient(to right, #141e30, #243b55) !important; 
    padding: 2px !important;
    border-radius: 3px;
	box-shadow: 0 0 2px 1px var(--references);
}
#right-sidebar .rm-embed-inner-block-hide{
  background: transparent !important;   
}

 
.rm-embed--page.rm-embed-container:before{
 content: none;
}

.rm-embed--page.rm-embed-container{
    padding: 0px !important;
    padding-left: 15px !important;
    background: transparent !important; 
    box-shadow: 0 0 0 0 #000000 !important;
}
.rm-embed--page .rm-page__title{
  font-size: 14px !important;
  padding: 0px;
}
.rm-embed--page .rm-page__title span{
  box-shadow: 1px 1px 2px 2px #3F51B5 !important;
  border-radius: 2px;
  color: #FFEB3B !important;
  background-color: #3F51B5;
}
.rm-embed--page .rm-page__title button{
  border: 1px solid #3F51B5;
}

 
 .rm-embed-margin-action{
  background-color: transparent !important;
}

#right-sidebar .rm-embed--page:hover > .rm-embed-margin-action{
  width: 10px;
  left: -10px;
}

 

.roam-block-container[data-page-links*="rm-grid"] .rm-block-children {
  display: grid;
  background-color: #F7F8F8;
  
 grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}

.roam-block-container[data-page-links*="rm-grid"] .rm-block-children{
  background-color: #1b1a23;
}

 
/*headings*/
.roam-block-container[data-page-links*="horizontal-3"] .rm-block-children.rm-level-1 {
  display: flex;
  flex-direction: row;
  margin-left: -6px;
  text-align: center;
  overflow-y:scroll;
}
.roam-block-container[data-page-links*="horizontal-3"] .rm-block-children.rm-level-1 .rm-block-input{
  text-align: center;
}
[data-page-links*="horizontal-3"]>div:nth-child(2)>div>div:nth-child(1){
  border-bottom: 1px solid #8BC34A;
}
/*table*/
.roam-block-container[data-page-links*="horizontal-3"] .rm-block-children .rm-block__controls{
display: none;
}
[data-tags-up*="horizontal"]>[data-page-links*="horizontal-3"]{
 margin-left: 50px !important;
 margin-top: -20px;
}
.roam-block-container[data-page-links*="horizontal"]>.rm-block-children>.roam-block-container{
  border: 1px solid #673AB7 !important;
  flex-grow: 1;
  width:150px;
}

/*content*/
.roam-block-container[data-page-links*="horizontal-3"] .rm-block-children.rm-level-2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.roam-block-container[data-page-links*="horizontal-3"] .rm-block-children.rm-level-2 .rm-block-input{
  text-align: left;
}

span.rm-page-ref[data-tag="horizontal-3"] {
    display: none;
}



::-webkit-scrollbar-corner{
    width: 0px;
}





 
.roam-block-container[data-page-links*="tables"] 
.rm-block-children {
}


span.rm-page-ref[data-tag="tables"] {
    display: none;
}

.roam-block-container[data-page-links*="tables"]>.rm-block-children>.roam-block-container{
  border-top: 1px solid #9872E2 !important;
  border-bottom: 1px solid #9872E2 !important;
}

 

.roam-block-container[data-page-links*="focus"] 
.rm-bullet
{
	display: none;
}
.roam-block-container[data-page-links*="focus"] 
.block-border-left {
    border-left-width: 0px !important; /* Default 1px */
}

.roam-block-container[data-page-links*="focus"] 
.block-expand>span{
  color: #563232 !important;
}


 
.bp3-button.dont-focus-block {
    color: #B6CDD1 !important;
    border-radius: 8px;
    border: 0px solid #23495D;
    border-width: 0px 0px 3px 0px;
    box-shadow: inset 0px 1px 3px rgba(255,255,255,.4) !important;
	padding-top: 2px;
    padding-top: 2px; 
}
.bp3-button.dont-focus-block:hover{
  color: #386BAD;
}

.bp3-button.dont-focus-block.rm-pomodoro{
  padding: 1px;
  padding-right: 8px !important;
  background: none !important;
}

.bp3-button.rm-pomodoro.running{
  background: #1F6A6C !important;
  border: 0px !important;
}

 
del{
  text-decoration-color: rgb(193,14,14);
}

del:hover{
  text-decoration: none;
}

 
[data-tags*="Eng Vocab"] strong{
    background: #30619D;
  	color: #FFFFFF !important;
    padding: 2px 2px 2px 5px;
    line-height: 1em;
    border-radius: 3px;
    position:relative;
}

 
.roamjs-window-alert .bp3-alert-contents{
  color: #000000;
}
.roamjs-window-alert{
  background: #6d70c4;
}

 
.block-highlight-yellow{
  background: linear-gradient(to right, #193539, #1C2E42) !important; 
}

 
.rm-alias.rm-alias--block{
  color: #6FD09F !important;
  text-decoration: none !important;
  /*border-bottom: 2px dotted #B09B9B;*/
  /*box-shadow: 0 0 1px 2px #999999 inset;
  border-radius: 3px;
  padding: 2px;*/
}

.rm-alias.rm-alias--page{
  font-style: normal;
}

 
.bp3-icon-help{
  display: none !important;
}

 
.roam-topbar{
  height: 30px;
}

.roam-topbar{
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

 
.roam-body-main{
margin-top: 36px;
flex: 0 0 calc(100% - 36px);
}

 
#right-sidebar>.flex-h-box{
  display: none;
}
#roam-right-sidebar-content{
   margin-top: 32px;
}

 
#find-or-create-input.bp3-input.bp3-round.bp3-minimal{
  background: none !important;

}

.bp3-input.bp3-active, .bp3-input:focus{
	box-shadow: 0 0 0 0 #000000 !important;
}

 
.rm-mermaid{
  background: transparent !important;
  min-width: 0px !important;
}

.rm-mermaid .node rect{
  stroke: #2A496F !important;
}

.rm-mermaid div
{
  color: #448889 !important;
  margin-right: 15px;
}

.rm-mermaid text
{
  fill: #34A5A5 !important;
  font-size: 25px !important;
}

.rm-mermaid rect{
  fill: transparent !important;
  stroke-width: 0px !important;
}

.rm-mermaid tspan{
  fill: #438BE0 !important;
  font-size: 20px !important;
}

 
div::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

div::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.4);
  border          : 5px var(--icons-hover) solid;
}

 
div[style*="background-color: white"]{
  background-color: #456655 !important;
}

.bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"], .bp3-popover-content .rm-menu-item[style*="background-color: rgb(213, 218, 223);"]{
	background-color: #91429f !important;
}

 
.rm-embed .rm-reference-main{
  display:none;
}

 
#roam-right-sidebar-content > div > div:nth-child(n) > div {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  /*  min-height: calc(20vh) !important;*/
}

#roam-right-sidebar-content > div > div:nth-child(1n+4) > div {
    min-height: 0 !important;
}

#roam-right-sidebar-content{
  margin-top:40px;
}
/*
.rm-sidebar-outline>.rm-block-children{
  max-height: calc(50vh) !important;
  overflow-y: auto;
  flex-flow: row wrap;
}

.rm-sidebar-outline>div:nth-child(2)>div>div:nth-child(2){
  max-height: calc(50vh) !important;
  overflow-y: auto;
  flex-flow: row wrap;
}*/


 
.rm-sidebar-outline .rm-title-display{
  text-align: center !important;
}
#right-sidebar .rm-title-textarea{
  text-align: center !important;
  font-size: 25px !important;
}

.rm-sidebar-outline h1.rm-title-display{
  font-size: 25px !important;
  color: #4CAF50 !important;
}
.sidebar-content .flex-h-box.window-headers{
  padding-top: 0px;
  padding-bottom: 0px;
}

 
.rm-block-input{
  padding-left:0px;
}

 
.rm-page-ref__brackets{
  color: #91F5A6;
}

 
.bp3-card{
  background-color: #1b2c40 !important;
}
.bp3-elevation-3, .bp3-menu, .bp3-popover-content{
  background-color: #1b2c40 !important; 
}
.rm-find-or-create-wrapper .rm-menu-item{
  color: white !important;
}
li.rm-search-list-item>span{
  color: white !important;
}


 
.bp3-elevation-3 .dont-unfocus-block:hover, .bp3-menu a:hover{
  background-color: #a5494f !important;
}

 
code{
 background: transparent !important;
 color: #FFFFFF !important;
}

 
/*div.roam-sidebar-container[style*="box-shadow"]{
  top: 30px !important;
}*/ 
.roam-body .roam-app .roam-sidebar-container{
  z-index: 9999;
}

.roam-sidebar-content .flex-h-box[style*="font-weight: 700; margin-bottom: 8px;"]{
  display:none;
}

 
.rm-italics{
	color: rgb(236,55,55);
    font-style: normal;
    font-weight: bold;
}



.p{
  background: #673AB7;
}
.待解决{
  background: #63204A;
  border-radius: 0px 3px 3px 0px !important;
}


.alias-word-match {
  background: #FF572284 !important;
}
.exact-word-match {
  background: #E91E6399 !important;
}
.partial-word-match {
  background: rgb(43,157,242) !important;
}
.fuzzy-word-match {
  background: rgba(130,220,121,0.6) !important;
}
.redundant-word-match { 
  background: #673AB7 !important;
}

#unlink-finder-legend{
  border: none !important;
}


/* CSS Tooltip Container */
.alias-word-match:before, .fuzzy-word-match:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  right:100%;
  margin-right:15px; /* and add a small left margin */
  
  /* basic styles */
  width:150px;
  padding:10px;
  border-radius:10px;
  background:gray;
  color: #fff;
  text-align:center;
  
  display: none;
  z-index: 100;
}

/* CSS Arrow */
.alias-word-match:after, .fuzzy-word-match:after {
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  right:100%;
  margin-right:-5px;
 
  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* the arrow */
  border:10px solid gray;
  border-color: transparent transparent transparent gray;
  
  display: none;
  z-index: 100;

}

/* Show the tooltip and arrow on hover */
.alias-word-match:hover:before, .alias-word-match:hover:after, .fuzzy-word-match:hover:before, .fuzzy-word-match:hover:after {
  opacity: 0.95;
  display:block;
}


//swift
.rm-heading-level-1,
.rm-heading-level-2,
.rm-heading-level-3{
  color: #2196F3;
}


#intercom-container,
.intercom-lightweight-app{
  display: none;
}


#roam42-live-preview-iframe{
	width: 500px !important;
}


.rm-search-path-query-input{
  border: 1px solid #535050;
}
.bp3-menu-item.bp3-active{
    background-color: rgb(31,60,31) !important;
}
.bp3-menu-item:hover{
  background: rgb(26,26,142) !important;
}


.roam-block-container.rm-block.rm-not-focused {
    border-radius: 0px;
}


@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.btn{padding: 0px !important;  border: 0px !important;}

.btn-pdf-activated{
  border-radius: 12px !important;
  font-size: 12px !important;
  font-weight: bold;
}

/*All reference to highlight buttons*/
.pdf-ctrl{
  font-size: 12px !important;
  margin-top: 6px !important;
}

.btn-rep-text{
}
.btn-rep-alias{
}
.btn-annotation{
}


.roam-article{
  height: auto !important;
  padding-bottom: 40vh !important;
}


:root {
    --main-left-bg: white;
    --right-sidebar-bg: transparent;
    --right-sidebar-drag-bg: #337ac6;
    --masonry-bg: transparent;
    --masonry-scrollbar-bg: transparent;
    --masonry-resizer-color: lightgrey;
    --masonry-startWidth: 400px; /* DEFAULT: 550px; Change this to "unset" if you DON'T want the sidebar pages to be reset in grid like format each time */
    --masonry-minWidth: 440px;
    --masonry-maxWidth: 1200px;
    --masonry-startHeight: 250px; /* DEFAULT: 243px; Change this to "unset" if you DON'T want the sidebar pages to be reset in grid like format each time */
    --masonry-minHeight: 200px;
    --masonry-border: 1px solid lightgrey;
}
.rm-resize-handle:hover{
  border-right: 0px !important;
}


.sidebar-content{
  margin-left: -10px !important;
}


/* Disabling Roam Toolkit */
.bp3-button.bp3-minimal.roamsr-counter{
  background: transparent !important;
}
.bp3-button.bp3-minimal.roamsr-widget__review-button{
  background: transparent !important;
}

.bp3-button.roamsr-container__response-area__response-button{
  background: transparent !important;
}

.bp3-button.roamsr-container__response-area__show-answer-button{
  background: transparent !important;
}
.bp3-button.roamsr-flag-button{
  background: transparent !important;
}
.bp3-button.roamsr-skip-button{
  background: transparent !important;
}

